.nav-content li a {
    text-decoration: none;

}

.side-bar-heading {
    border-bottom: 1px solid black;
    margin-top: -20px;
    display: block;
    padding: 7px;
   font-family: 'Nunito Sans', sans-serif;
}

.side-bar-heading:hover {
    color: #0972d3;
}

