•	<footer id="footer" class="footer">
    <div class="copyright">
        <ul class="footer-list">
            <li>About</li>
            <li>Connect</li>
            <li>Privacy <i class="bi bi-arrow-up-right-square"></i></li>
            <li>Site terms <i class="bi bi-arrow-up-right-square"></i></li>
            <li style="border-right-style: none;">&copy;{{year |date:'yyyy'}}, www.rubywebdevelop.com. All rights
                reserved.</li>
        </ul>
    </div>
</footer>

<a (click)="scrollTop()" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>